* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 12pt;
}

#container {
    margin: 0 auto;
    width: 100%;
}

header{
    font-size: 9pt;
}

#covid-msg {
    background-color: #eaeaea;
    text-align: center;
    padding: 0 10px;
}

#top-logo a {
    display: block;
}

hr {
    border: 3px solid #00ffb9
}

a {
    text-decoration: none;
    color: blue;
}

nav ul{
    list-style: none;
    display: block;
    top: 50px;
}

nav ul li {
    display: inline-block;
    font-size: 20pt;
}

nav ul li a{
    color: black;
    font-weight: bold;
    margin: 0 75px;
}

table {
    width: 500px;
}

#telephone-top {
    width: 150px;
    height: 50px;
    background-color: #b9faf8;
    position: relative;
    left: 90%;
    text-align: center;
    border-radius: 10px 10px 0 0 ;
}

/*Images*/

img {
    max-width: 100%;
}

#top-logo img{
    width: auto;
    height: 100px;
    margin-left: 150px;
}

.team-photo {
    height: 200px;
    width: 200px;
    border: 3px;
    border-radius: 50%;
    border-style: solid;
    border-color: #00ffb9;
}

#tel-icon {
    width: 20px;
    height: 20px;
    padding: 15px 0;
}